@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #202123;
}

:root {
  --fontF: 'Pathway Extreme', sans-serif;
}

.navigation-wrapper {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  font-family: var(--fontF);
}

.icon {
  font-size: 1.5rem;
}

.profile {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
}

.google-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  height: 75vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #181818;
}

.location {
  padding: 1.5rem;
  font-family: var(--fontF);
}

.link-items {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-family: var(--fontF);
}

.items > a,
.cookies > a {
  text-decoration: none;
}

.items, .cookies {
  display: flex;
  gap: 1rem;
}
